@import url('reset.css');

body{
  font-family: Roboto;
  font-size: 14px;
  color: #613C11;
  line-height: 1.6;
  letter-spacing: 4%;
  font-weight: bold;
}

.hole_page{
  position: relative;
}

.bread{
  width: 387px;
  height: 96px;
  position: absolute;
  left: 174px;
  top: 224px;
}

.selector{
  width: 184px;
  height: 564px;
  position: absolute;
  left: 174px;
  top: 360px;
}




.main_nav li a{
  display: block;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #613C11;
  color: #613C11;
  background-color: #fff;
  
}



.main_nv li a:hover{
  color:#CFAD84 ;
  
}


.middleContainer{
  width: 1920px;
  height: 1002px;
  
}


.main_content{
  width: 781px;
  height: 500px;
  position: absolute;
  left: 543px;
  top: 370px;
}


.section1 h1{
  border-left: 10px solid #613C11;
  line-height: 2;
  width: 100%;
}

.footerContainer{
  z-index: 1;
}