@media screen and (max-width:1280px){
    .hole_page{
        width: 100%;
        /* 寬1280 */
      }
      
    .bread{
        left: 104px;
        font-size: 18px;
        /* 左減-70,文字20->18 */
    }
    
    /* 側欄 */
    .selector{
        width: 154px;
        left: 104px;
        font-size: 20px;
        /* 左減-70,寬-30 */
    }
    
    
    /* 中間內容 */
    .middleContainer{
        width: 100%;
        /* 寬1280 */
    }
    
    .section1 h1 {
        left: 400px;
        text-align: center;
        /* 左減-178*/
    }
    
    /* 外框 */
    .section2{
        width: 694px;
        /* height: 355px; */
        left: 420px;
        /* 寬高-30,左減-178*/
    }
    
    /* 內框 */
    .outside{
        width: 664px;
        /* height: 320px; */
        /* 寬高-30 */
    }
    
    .middle_area{
        position: relative;
        width: 689px;
        height: 100%;
    }
    
    .middle_area h2{
        font-size: 20px;
        font-weight: bold;
        margin-top: 70px;
        width: 100%;
        text-align: center;
      }
}

@media screen and (max-width:820px){

    .hole_page{
        width: 100%;
        /* 寬1280 */
      }

    .selector{
        display: none;
    }
    
    .bread{
        display: none;
        /* left: 60px;
        font-size: 18px; */
        /* 左減-70,文字20->18 */
    }

     /* 中間內容 */
     .middleContainer{
        width: 100%;

        /* 寬1280 */
    }

    .section1 h1 {
        font-size: 24px; 
        left: 60px;
        /* 左減-428*/
    }

    /* 外框 */
    .section2{
        width: 624px;
        left: 0;
        right: 0;
        bottom: 0; 
        top: 0;
        margin: auto;
        margin-top: 395px;
    }

      /* 內框 */
      .outside{
        width: 589px;
    }

    .middle_area{
        position: relative;
        width: 589px;
        height: 100%;
    }
    
    .middle_area h2{
        font-size: 24px;
      }

      input[id="subscribe1"] + label {
        position: absolute;
        bottom: 243px;
      }

      .add_info{

        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
}

@media screen and (max-width:430px){
    .hole_page{
        width: 100%;
        /* 寬1280 */
      }
    
     /* 中間內容 */
     .middleContainer{
        width: 100%;
        /* 寬1280 */
    }

    .section1 h1 {
        border-left: none;
        width: 430px;
        font-size: 24px; 
        left: 0;
        top: 160px;
        padding:0;
    }

    /* 外框 */
    .section2{
        width: 90%;
        height: 700px;
        left: 0;
        top: 250px;
        text-align: center;
        margin: 0 auto;
        margin-left: 21.5px;
    }

    /* 內框 */
    .outside{
        width: 90%;
        height: 95%;
        margin: auto;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: none;
        /* box-sizing: border-box; */
    }

    .middle_area{
        position: relative;
        width: 100%;
        height: 100%;

    }

    .middle_area h2{
        display: none;
      }

      .radio_{
        text-align: left;
      }

      .text_{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        text-align: left;
      }

      input[id="subscribe1"] + label {
        position: absolute;
        bottom: 172px;
      }

      .add_info{
        bottom: 0;
        /* top: 0; */
        right: 0;
        left: 0;
        margin: auto;
        margin-bottom: 70px;
      }
}